body {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    font-family: "Roboto",Arial;
    margin-left: 100px;
    margin-right: 100px;
}

.container {
    display: flex;
    flex-direction: column;
}

.logo {
    flex: 1;
    align-items: center;
    margin-top: 5px;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    flex-direction: row;
    color: aliceblue;
    background-color: darkcyan;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 100px;
}

.nav-bar-links a{
    color: skyblue;
    text-decoration: none;
    

}

.nav-bar-links{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-items: center;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 18px;
    font-weight: bold;

}

.hero{
    background-color: darkcyan;
    align-content: center;
    justify-content: center;
    padding: 10px;
    display: flex;
    gap:10px;
   
    
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    width: 500px;
    
    
}
.hero-left-items{
    flex: 1;
    padding-top: 20px;
    
}

.hero-title {
    font-size: 50px;
    font-weight: 1000;
    color: coral;
}

.sign-up {
    border: 1px solid thistle;
}




.button {
    width: 200px;
    height: 40px;
    background-color: aquamarine;
    border-radius: 25% 50% 25% 50%;
    text-shadow: 10px 5px palegoldenrod;
    margin-top: 10px;
}

.info-box {
    background-color: rgba(255, 127, 80, 0.651);
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    color: aquamarine;
    font-style: oblique;
}

.gallery-picture {
    display: flex;
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: cadetblue;
    font-size: 20px;
    font-style: italic;
    padding-bottom: 40px;
}

.picture-item {
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 10%;
   
}

.picture-item img{
    border-radius: 10%;
}
.gallery-picture2 {
    display: flex;
    padding-top: 5px;
    
    justify-content: center;
    gap: 50px;
    
    
}

.picture-item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    border-radius: 10%;
    flex-wrap: wrap;
    justify-items: center;
    align-content: center;
   
}

.gitext {
    display: flex;
    flex-direction: column;
    gap: 7px;
    flex-wrap: wrap;
    width: 100px;
   
}

.quote, .quote-source {
    background-color: rgba(241, 241, 241, 0.651);
    align-items: center;
    
    display: flex;
    font-size: 30px;
    font-weight: 900;
    color: rgb(179, 140, 14);
    font-style: oblique;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    font-style: italic;
    padding-left: 400px;
    padding-right: 400px;
    padding-top: 50px;
    
}

.quote-source{
    color: black;
    font-style: normal;
    font-size: 20px;
    justify-content: right;
    flex: 1;
    
    align-items:end;
    padding-top: 10px;   
    padding-bottom: 50px;
}

/*asd*/ 